/* Core Layout */
.page-container {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: row-reverse; /* Swaps the positions of the containers */
}

/* Left Container (Login Form) */
.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe3ee;
    flex: 1;
    padding: 2rem;
    padding-right: 3rem;
}

.right-container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-start;
    align-items: center;
    background-color: #dfe3ee;
    flex: 1;
}

.right-header {
    position: relative;
    top: 260px;
    left: 200px;
    font-size: 3rem;
    font-weight: 800;
    color: #0038A7;
}

.right-subtitle {
    position: relative;
    top: 270px;
    left: 200px;
    color: #333;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.logo-placeholder {
    position: relative;
    top: 250px;
    left: 200px;
    width: 140px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 0.1rem; /* Space between logo and header */
}

.verify-email-container {
    animation: slideInFromLeft 1s ease-out;
    max-width: 40rem;
    width: 100%;
    background: #f7f7f7;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.verify-email-subtitle {
    font-size: 25px;
    font-weight: 800;
    animation: appear 3s ease-out;
    text-align: center;
    color: #0038A7;
}

.verify-email-message {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #333; /* text-gray-600 */
}

.verification-link-sent {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #333; /* text-green-600 */
}

.verify-email-form {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.verify-email-logout {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.logout-link {
    text-decoration: underline;
    font-size: 0.875rem;
    color: #333;
}

.logout-link:hover {
    color: #555;
}



/* Style for the resend verification button */
.verify-email-form {
    margin: 0; /* Ensures no extra margin affects positioning */
}

/* Container for buttons */
.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    justify-content: center; /* Center align buttons */
    margin-top: 1rem;
    gap: 0.5rem; /* Adjust the gap between buttons */
}

/* Return to Homepage button styles */
.return-home-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    background-color: #0038A7; /* White background */
    border-radius: 0.5rem;
    font-weight: 600; /* Semibold text */
    text-transform: uppercase;
    font-size: 0.75rem; /* Text size */
    color: #FFFFFF; /* Black text */
    letter-spacing: 0.05em; /* Tracking */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    width: 170px; /* Ensure the button takes full width */
    height: 50px;
    justify-content: center;
    text-align: center;
}

.return-home-button:hover {
    background-color: #00297D; /* Lighter Gray on hover */
    color: white; /* White text on hover */
}


.resend-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    background-color: #0038A7; /* White background */
    border-radius: 0.5rem;
    font-weight: 600; /* Semibold text */
    text-transform: uppercase;
    font-size: 0.75rem; /* Text size */
    color: #FFFFFF; /* Black text */
    letter-spacing: 0.05em; /* Tracking */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    width: 170px; /* Ensure the button takes full width */
    height: 50px;
    justify-content: center;
    text-align: center;
}

.resend-button:hover {
    background-color: #00297D; /* Lighter Gray on hover */
    color: white; /* White text on hover */
}

.resend-button:disabled {
    background-color: #f0f0f0; /* Light grey background when disabled */
    color: #a0a0a0; /* Grey text when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
}


@media 
    (min-width: 1400px) and (max-width: 1799px)
{
    .verify-email-container {
        position: relative;
        right: -15px;
     }
 
     .right-header {
         position: relative;
         top: 240px;
         left: 60px;
         font-size: 3rem;
     }
     
     .right-subtitle {
         position: relative;
         top: 300px;
         left: 60px;
         color: #333;
         margin-top: -2rem;
         font-size: 1.5rem;
         text-align: center;
     }
     
     .logo-placeholder {
         position: relative;
         top: 210px;
         left: 70px;
         width: 140px; /* Adjust size as needed */
         height: auto;
         margin-bottom: 0.1rem; /* Space between logo and header */
     }
}

/* Media Queries */
@media 
    (min-width: 901px) and (max-width: 1399px)
{

    .verify-email-container {
       position: relative;
       right: -15px;
    }

    .right-header {
        position: relative;
        top: 240px;
        left: 20px;
        font-size: 1.8rem;
    }
    
    .right-subtitle {
        position: relative;
        top: 300px;
        left: 20px;
        color: #333;
        margin-top: -2rem;
        font-size: 1.1rem;
        text-align: center;
    }
    
    .logo-placeholder {
        position: relative;
        top: 210px;
        left: 20px;
        width: 140px; /* Adjust size as needed */
        height: auto;
        margin-bottom: 0.1rem; /* Space between logo and header */
    }
}

/* Tablet */
@media 
    (min-width: 600px) and (max-width: 900px)
{
    .main-content {
        flex-direction: column; /* Keep the containers stacked */
    }

    .right-container {
        min-height: 35vh;
        order: -1; /* Make the right container appear on top */
    }

    .right-header {
        position: relative;
        top: 60px;
        left: 5px;
        font-size: 1.7rem;
        font-weight: 800;
        color: #0038A7;
    }

    .right-subtitle {
        position: relative;
        top: 65px;
        left: 5px;
        color: #333;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }

    .logo-placeholder {
        position: relative;
        top: 50px;
        left: 5px;
        width: 140px; /* Adjust size as needed */
        height: auto;
        margin-bottom: 0.1rem; /* Space between logo and header */
    }

    .verify-email-container{
        margin-bottom: 10px;
    }
    .verify-email-subtitle {
        font-size: larger;
        margin-bottom: 0.7rem;
    }

}

@media (min-width: 320px) and (max-width: 599px) {

    .main-content {
        flex-direction: column; /* Keep the containers stacked */
    }

    .right-container {
        min-height: 35vh;
        order: -1; /* Make the right container appear on top */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .page-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .right-header {
        position: relative;
        top: 75px;
        left: 5px;
        font-size: 1.7rem;
        font-weight: 800;
        color: #0038A7;
    }
    
    .right-subtitle {
        position: relative;
        top: 80px;
        left: 5px;
        color: #333;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }
    
    .logo-placeholder {
        position: relative;
        top: 60px;
        left: 5px;
        width: 140px; /* Adjust size as needed */
        height: auto;
        margin-bottom: 0.1rem; /* Space between logo and header */
    }

    .left-container {
        flex: 1; /* Ensure it also takes available height */
        padding: 1.5rem; /* Keep the padding for aesthetics */
    }

    .verify-email-container {
        padding: 0.5rem; /* Adjust padding for smaller screens */
        margin-bottom: 3rem;
    }

    .verify-email-title {
        display: none;
    }

    .verify-email-message {
        font-size: 12px;
    }

    .verification-link-sent {
        font-size: 10px;
        text-align: center;
    }

    .button-container {
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
        gap: 1rem; /* Adjust the gap between buttons as needed */
        align-items: center; /* Center align buttons */
    }

    .resend-button {
        width: 170px; /* Ensure the button takes full width */
        height: 30px;
        padding: 0.5rem; /* Adjust padding as needed */
        font-size: 9px; /* Adjust font size as needed */
        text-align: center; /* Center align text */
        justify-content: center;
    }

    .return-home-button {
        width: 170px; /* Ensure the button takes full width */
        height: 30px;
        padding: 0.5rem; /* Adjust padding as needed */
        font-size: 9px; /* Adjust font size as needed */
        text-align: center; /* Center align text */
        justify-content: center;
    }

}
